<!DOCTYPE html>
<html>
<head>
	<title>Customer</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

	
</head>
<body>


  <%-include('partials/navigation') %>

        <h2 style="text-align:center">WELCOME, PLease Connect the Database</h2>

</body>
</html>